body {
	font-family: 'Open Sans', sans-serif;
	transition: opacity 500ms;
    overflow-x: hidden; 
}

body.loading {
    opacity: 0;
}


#header {
	width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#shader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#main {
	padding-top: 35pt;
	background: white;
	z-index: 2;
	position: relative;
	width: 100vw;
}

#header #logo {
	margin-top: calc( 50vh - 20pt );
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
}

#header img {
	height: 220pt;
	z-index: 2;
	position: absolute;
}

#header #shadow {
	width: 700pt;
    height: 700pt;
    max-width: 100vw;
    position: absolute;
    background: radial-gradient(#3b22eb80 10%, #3b22eb00 50%, #3b22eb00);
}

.mobile #header img {
	z-index: 1;
	height: 140pt;
}

#footer {
	padding: 40pt 0;
    justify-content: center;
    width: 100%;
    display: flex;
}

#footer #container {
    width: 160pt;
}

#footer #container #img {
    height: 100pt;
    width: 160pt;
    background: url(../img/logo.png);
    background-size: 130pt;
    background-position: top center;
    background-repeat: no-repeat;
    filter: invert(1);
}

.app-title {
	margin-bottom: 0;
}

.app-subtitle {
	font-size: 14pt;
    color: gray;
    font-style: italic;
}

#appstore-link {
	margin-top: 1rem;
	display: inline-block;
}

#appstore-link:hover {
	opacity: 0.6;
}

#appstore-link img {
	width: 160pt;
}

.screenshot {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.mobile .screenshot {
    margin-top: 20pt;
    height: 100vh;
    background-size: cover;
}

li {
	padding-left: 14pt;
	margin-bottom: 4pt;
}
