body {
	font-family: 'Open Sans', sans-serif;
	transition: opacity 500ms;
    overflow-x: hidden; 
}

body.loading {
    opacity: 0;
}


#header {
	width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    display: flex;
}

#shader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#main {
	padding-top: 35pt;
	background: white;
	z-index: 2;
	position: relative;
}

#header iframe {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 400pt;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#header #logo {
	margin-top: calc( 50vh - 20pt );
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
}

#header img {
	height: 220pt;
	z-index: 2;
	position: absolute;
}

#header #shadow {
	width: 700pt;
    height: 700pt;
    position: absolute;
    background: radial-gradient(#6b314680 10%, #111eaf00 50%, #111eaf00);
}

.mobile #header img {
	z-index: 1;
	height: 140pt;
}

#footer {
	padding: 40pt 0;
    justify-content: center;
    width: 100%;
    display: flex;
}

#footer #container {
    width: 80pt;
    padding: 18pt 0pt;
    border-radius: 60pt;
}

#footer #container #img {
    height: 50pt;
    width: 80pt;
    background: url(../img/logo.png);
    background-size: 120pt;
    background-position: top center;
    background-repeat: no-repeat;
    filter: invert(1);
}
